page-tabs {
    .color-tab{
        color: $tabs-color!important;
    }

    .tab-button-text{
        padding: 5px 0 0 0;
        font-size: 10px!important;
        font-weight: 200;
    }

    a.tab-button:nth-of-type(2) {
		color: #000000;
		.tab-button-icon {
			color: #000000;
		}
    }
    
    // #tab-t0-1{
    //     color: #c49137;
    //     background-color: red !important;
    //     font-size: 20px!important;
    //     font-weight: 300;
        
    // }

    .tabs-icon-top .tab .nav-view-home {
        color: #c49137;
    }
    
    .tabs-md .tab-button[aria-selected=true] {
        color: $tabs-color!important;
    }

    .tabs-md .tab-button[aria-selected=true] .tab-button-icon{
        color: $tabs-color!important;
    }


    .tabs-ios .tab-button[aria-selected=true]{
        color: $tabs-color!important;
    }
    .tabs-ios .tab-button[aria-selected=true] .tab-button-icon{
        color: $tabs-color!important;
    }

    ion-icon.tab-button-icon.icon.icon-ios.ion-ios-icon-burger {
        animation: rubberBand 1s;
    }
    ion-icon.tab-button-icon.icon.icon-md.ion-md-icon-burger {
        animation: rubberBand 1s;
    }

}