page-steps {
.start{
    color:#FF322E !important;
      }  
      
  .swiper-pagination-bullet-active {
        background: #fbb034 !important;
        opacity: 1;
        }
.slide-title{
  color: #fbb034 !important;
}
}

