// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: 'Rubik-Medium';
    src: url('../assets/fonts/Rubik-Medium.woff') format('woff');
    font-style: normal;
  }

/*******************************************
********* MODAL 
*******************************************/
  ion-modal{
    background: rgba(0, 0, 0, 0.69)!important;
    ion-content {
      height: 80%!important;
      margin-top: 20%!important;
      width: 95%;
      margin-right: auto;
      margin-left: auto;
      right: 0;
      left: 0;
    }

}




/*******************************************
*********  ANIMACIONES   
*******************************************/
@keyframes moveSlide{
  0%{
      transform: translate3d(1000px,0,0);
      opacity: 0;
  }
  100%{
      transform: translate3d(0,0,0);
      opacity: 1;
  }
}


@keyframes fadeIn{
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}
