page-resetpassword {
.resetpass{
    color: #FF322E !important;
    font-size: 16px !important;
    font-family: 'Rubik-Medium';
    text-align: center !important;
}

.text{
    color: #FF322E !important;
    font-size: 16px !important;
    font-family: 'Rubik-Medium';
    text-align: center !important;
}
.text_email{
    color: #FF322E !important;
    font-size: 16px !important;
    font-family: 'Rubik-Medium';
}

.text-input {
    font-size: 16px !important;
    font-family: 'Rubik-Medium';
    color: #fbb034 !important;
}

ion-label{
    color: #FF322E !important;
    font-size: 10px !important;
}

.btnseleccionar{
    margin-top: 5%;
    font-family: 'Rubik-Medium';
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    width: 290px;
    height: 50px;
    color: white !important;
    background: linear-gradient(278deg, #ff322e, #fbb034);
    box-shadow: 0 24px 24px -10px rgba(251, 176, 52, 0.5);
 }
}
